<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  
  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <layout>
      <pattern>
        %d [%thread] %-5level %logger{40} %X{key} - %msg%n
      </pattern>
    </layout>
  </appender>
  
  <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <!-- caminho para o arquivo de log -->
    <file>./logFile.log</file>

    <layout>
      <Pattern>
        %d [%thread] %-5level %logger{40} %X{key} - %msg%n
      </Pattern>
    </layout>
  </appender>
  
  <logger name="org.springframework" level="warn"/>
  <logger name="org.springframework.web" level="debug" />
  <logger name="org.quartz" level="warn"/>
  
  <logger name="br.com.brokerstecnologia" level="debug">
    <appender-ref ref="FILE"/>
  </logger>
  
  <root level="ERROR">
    <appender-ref ref="CONSOLE"/>
  </root>
  
</configuration>
