<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  
  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <layout>
      <pattern>
        %d [%thread] %-5level %logger{40} %X{key} - %msg%n
      </pattern>
    </layout>
  </appender>
  
  <logger name="org.springframework" level="warn"/>
  <logger name="org.springframework.web" level="warn" />
  <logger name="org.quartz" level="warn"/>
  
  <logger name="br.com.yaw" level="debug" />
  
  <root level="ERROR">
    <appender-ref ref="CONSOLE"/>
  </root>
  
</configuration>